<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="layout">
    <div th:replace="~{fragments/sidebar :: sidebar('profile')}"></div>

    <main class="main">
        <div id="account_data"></div>
    </main>
</div>

<script th:src="@{/js/profile.js}"></script>
</body>
</html>
